spring.icon ICON "spring.ico"
class.tool.spring.bitmap BITMAP "class.tool.spring.bmp"
class.tool.spring.cursor CURSOR "class.tool.spring.cur"
object.tool.spring.bitmap BITMAP "object.tool.spring.bmp"
object.tool.spring.cursor CURSOR "object.tool.spring.cur"
note.tool.spring.bitmap BITMAP "note.tool.spring.bmp"
note.tool.spring.cursor CURSOR "note.tool.spring.cur"
note.corner.spring.bitmap BITMAP "note.corner.spring.bmp"
inheritance.tool.spring.bitmap BITMAP "inheritance.tool.spring.bmp"
inheritance.tool.spring.cursor CURSOR "inheritance.tool.spring.cur"
composition.tool.spring.bitmap BITMAP "composition.tool.spring.bmp"
composition.tool.spring.cursor CURSOR "composition.tool.spring.cur"
aggregation.tool.spring.bitmap BITMAP "aggregation.tool.spring.bmp"
aggregation.tool.spring.cursor CURSOR "aggregation.tool.spring.cur"
reference.tool.spring.bitmap BITMAP "reference.tool.spring.bmp"
reference.tool.spring.cursor CURSOR "reference.tool.spring.cur"
create.instance.tool.spring.bitmap BITMAP "create.instance.tool.spring.bmp"
create.instance.tool.spring.cursor CURSOR "create.instance.tool.spring.cur"
attach.note.tool.spring.bitmap BITMAP "attach.note.tool.spring.bmp"
attach.note.tool.spring.cursor CURSOR "attach.note.tool.spring.cur"
grab.tool.spring.bitmap BITMAP "grab.tool.spring.bmp"
grab.open.spring.cursor CURSOR "grab.open.spring.cur"
grab.closed.spring.cursor CURSOR "grab.closed.spring.cur"
horizontal.splitter.light.wing.cursor CURSOR "../wing/res/horizontal.splitter.light.wing.cur"
horizontal.splitter.dark.wing.cursor CURSOR "../wing/res/horizontal.splitter.dark.wing.cur"
vertical.splitter.light.wing.cursor CURSOR "../wing/res/vertical.splitter.light.wing.cur"
vertical.splitter.dark.wing.cursor CURSOR "../wing/res/vertical.splitter.dark.wing.cur"
arrow.wing.bitmap BITMAP "../wing/res/arrow.wing.bmp"
